In [1]:
import requests
import pandas as pd

import geopandas
import matplotlib as plt

In [5]:
# API Call Constructor
HOST = "https://api.census.gov/data"
dataset = "acs/acs5/profile" # 5-year
year = "2010"
base_url = "/".join([HOST, year, dataset])
predicates = {}
get_vars = ["GEO_ID", "DP03_0062E", "DP04_0134E"]
# New York City - tract
predicates["get"] = ",".join(get_vars)
predicates["for"] = "tract:*"
predicates["in"] = "state:36;county:081,047,061,005,085"

dfs = []
r = requests.get(base_url, params=predicates)
income_rent_2010 = pd.DataFrame(columns=r.json()[0], data=r.json()[1:])

In [6]:
income_rent_2010.rename(columns = {'DP03_0062E':'MEDIAN_HOUSEHOLD_INCOME_2010', 'DP04_0134E':'MEDIAN_RENT_2010'}, inplace = True)
income_rent_2010['GEO_ID'] = income_rent_2010['GEO_ID'].apply(lambda s:str(s)[9:])
income_rent_2010.head()

,GEO_ID,MEDIAN_HOUSEHOLD_INCOME_2010,MEDIAN_RENT_2010,state,county,tract
0,36005039000,35729,539,36,005,039000
1,36005039100,22081,1853,36,005,039100
2,36005039200,57000,440,36,005,039200
3,36005039300,17988,3029,36,005,039300
4,36005039400,35329,1291,36,005,039400

In [29]:
print(len(income_rent_2010))
income_rent_2010.to_csv('income_rent_2010.csv')

2168

Reference:
`data-analysis/docs/ACS/ACS Data Description.md`

In [12]:
HOST = "https://api.census.gov/data"
dataset = "acs/acs5/profile" # 5-year
get_vars = ["GEO_ID", "DP03_0062E", "DP04_0134E"]
predicates = {}
# New York City - tract
predicates["get"] = ",".join(get_vars)
predicates["for"] = "tract:*"
predicates["in"] = "state:36;county:081,047,061,005,085"

# New York City - County
# predicates["get"] = ",".join(get_vars)
# predicates["for"] = "county:081,047,061,005,085"
# predicates["in"] = "state:36"

# dataframe collector for each year.
# Initialize data frame collector
dfs = []
for year in range(2011, 2018):
    base_url = "/".join([HOST, str(year), dataset])
    r = requests.get(base_url, params=predicates)
    df = pd.DataFrame(columns=r.json()[0], data=r.json()[1:])
    # Add column to hold year value
    df["year"] = year
    dfs.append(df)
# Concatenate all data frames in collector
income_rent = pd.concat(dfs)

# r = requests.get(base_url, params=predicates)
# print(r.text)

In [13]:
income_rent.head()

,NAME,GEO_ID,DP03_0062E,DP04_0134E,state,county,tract,year
0,"Census Tract 426, Bronx County, New York",1400000US36005042600,67540,558,36,005,042600,2011
1,"Census Tract 428, Bronx County, New York",1400000US36005042800,69274,217,36,005,042800,2011
2,"Census Tract 429.01, Bronx County, New York",1400000US36005042901,31000,1020,36,005,042901,2011
3,"Census Tract 429.02, Bronx County, New York",1400000US36005042902,30481,1134,36,005,042902,2011
4,"Census Tract 430, Bronx County, New York",1400000US36005043000,45096,289,36,005,043000,2011

In [14]:
print(len(income_rent)/8)

1896.125