In [1]:
import geopandas
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
tract = geopandas.read_file('Clean Data/geo_nyc_tract.geojson')
tract['GEO_ID'] = tract['GEO_ID'].apply(int)

In [4]:
tract.head()
# print(len(tract))   # 2164

,GEO_ID,nta,nta_name,geometry
0,36005000100,BX98,Rikers Island,"POLYGON ((1019965.737 226696.334, 1019943.935 ..."
1,36005000200,BX09,Soundview-Castle Hill-Clason Point-Harding Park,"POLYGON ((1021558.247 236060.696, 1021824.736 ..."
2,36005000400,BX09,Soundview-Castle Hill-Clason Point-Harding Park,"MULTIPOLYGON (((1023113.723 236337.849, 102336..."
3,36005001600,BX09,Soundview-Castle Hill-Clason Point-Harding Park,"POLYGON ((1022690.148 238650.346, 1022944.985 ..."
4,36005001900,BX39,Mott Haven-Port Morris,"MULTIPOLYGON (((1003183.626 233654.444, 100336..."

In [8]:
median_income = pd.read_csv('Clean Data/medium_income.csv', index_col=0)
median_income.head()

,GEO_ID,NAME,county,state,tract,medium_income_2010,medium_income_2011,medium_income_2012,medium_income_2013,medium_income_2014,medium_income_2015,medium_income_2016,medium_income_2017,medium_income_2018
0,36005039000,"Census Tract 390, Bronx County, New York",5,36,39000,35729,34010,34750,35037,34531,32364,32438,35313,42011
1,36005039100,"Census Tract 391, Bronx County, New York",5,36,39100,22081,23804,24010,24193,24043,30661,31238,33020,32298
2,36005039200,"Census Tract 392, Bronx County, New York",5,36,39200,57000,30577,31917,32386,35515,39457,40054,40282,44375
3,36005039300,"Census Tract 393, Bronx County, New York",5,36,39300,17988,16825,15875,16949,19025,20891,21587,21651,21370
4,36005039400,"Census Tract 394, Bronx County, New York",5,36,39400,35329,34759,38365,39157,34348,33708,34517,31738,34355

In [12]:
geo_median_income = pd.merge(tract, median_income, how='inner', on='GEO_ID')
geo_median_income.head()

,GEO_ID,nta,nta_name,geometry,NAME,county,state,tract,medium_income_2010,medium_income_2011,medium_income_2012,medium_income_2013,medium_income_2014,medium_income_2015,medium_income_2016,medium_income_2017,medium_income_2018
0,36005000100,BX98,Rikers Island,"POLYGON ((1019965.737 226696.334, 1019943.935 ...","Census Tract 1, Bronx County, New York",5,36,100,-666666666,-666666666,-666666666,-666666666,-666666666,-666666666,-666666666,-666666666,-666666666
1,36005000200,BX09,Soundview-Castle Hill-Clason Point-Harding Park,"POLYGON ((1021558.247 236060.696, 1021824.736 ...","Census Tract 2, Bronx County, New York",5,36,200,59826,63449,71250,69514,74837,72034,70893,62773,59914
2,36005000400,BX09,Soundview-Castle Hill-Clason Point-Harding Park,"MULTIPOLYGON (((1023113.723 236337.849, 102336...","Census Tract 4, Bronx County, New York",5,36,400,71968,75729,75833,73036,77991,74836,76667,82697,82073
3,36005001600,BX09,Soundview-Castle Hill-Clason Point-Harding Park,"POLYGON ((1022690.148 238650.346, 1022944.985 ...","Census Tract 16, Bronx County, New York",5,36,1600,30355,33910,32328,30817,32354,32312,31540,33118,35802
4,36005001900,BX39,Mott Haven-Port Morris,"MULTIPOLYGON (((1003183.626 233654.444, 100336...","Census Tract 19, Bronx County, New York",5,36,1900,25093,26291,29491,33862,34635,37936,39130,40117,42075

In [13]:
geo_median_income.to_file('geo_median_income.geojson',driver='GeoJSON')