In [1]:
import geopandas
import pandas as pd
import fiona
import numpy as np
import matplotlib as plt

In [40]:
import pyproj
pyproj.Proj("+init=epsg:4326")

pyproj.Proj('+units=m +init=epsg:4326', preserve_units=True)

In [50]:
# zipfile = "zip:///Users/name/Downloads/gadm36_AFG_shp.zip!data"
census_tract = geopandas.read_file('Source/tl_2019_36_tract/tl_2019_36_tract.shp')
census_tract.head()
# census_tract.crs
# census_tract = nyu_tract.to_crs('EPSG:4326')
# {'init': 'epsg:2263'}
# nyu_tract = nyu_tract.to_crs({'init': 'epsg:2263'})
# nyu_tract = nyu_tract.to_crs("epsg:3395")

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,36,081,044800,36081044800,448,Census Tract 448,G5020,S,208002,0,+40.7110219,-073.8026344,"POLYGON ((-73.80646 40.71206, -73.80556 40.712..."
1,36,081,045800,36081045800,458,Census Tract 458,G5020,S,245281,0,+40.7152626,-073.7909261,"POLYGON ((-73.79364 40.71382, -73.79362 40.713..."
2,36,081,046200,36081046200,462,Census Tract 462,G5020,S,249611,0,+40.7098547,-073.7879749,"POLYGON ((-73.79203 40.71107, -73.79101 40.711..."
3,36,081,046300,36081046300,463,Census Tract 463,G5020,S,159415,0,+40.7440007,-073.8710900,"POLYGON ((-73.87468 40.74335, -73.87423 40.743..."
4,36,081,046400,36081046400,464,Census Tract 464,G5020,S,228767,0,+40.7168637,-073.7869958,"POLYGON ((-73.79187 40.71379, -73.79085 40.714..."

In [52]:
# nyu_tract.head()
census_tract = census_tract.rename(columns={'GEOID':'GEO_ID'})
census_tract['GEO_ID'] = census_tract['GEO_ID'].apply(int)
print(census_tract.dtypes)
census_tract.head()
# medium_income.head()
# nyu_tract.to_file('Clean Data/geo_nyc_tract.geojson',driver='GeoJSON')
# tract = tract.rename(columns={'GeoId':'GEO_ID'})
# nyu_tract.plot()
# nyu_tract.show()

STATEFP       object
COUNTYFP      object
TRACTCE       object
GEO_ID         int64
NAME          object
NAMELSAD      object
MTFCC         object
FUNCSTAT      object
ALAND          int64
AWATER         int64
INTPTLAT      object
INTPTLON      object
geometry    geometry
dtype: object

,STATEFP,COUNTYFP,TRACTCE,GEO_ID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,36,081,044800,36081044800,448,Census Tract 448,G5020,S,208002,0,+40.7110219,-073.8026344,"POLYGON ((-73.80646 40.71206, -73.80556 40.712..."
1,36,081,045800,36081045800,458,Census Tract 458,G5020,S,245281,0,+40.7152626,-073.7909261,"POLYGON ((-73.79364 40.71382, -73.79362 40.713..."
2,36,081,046200,36081046200,462,Census Tract 462,G5020,S,249611,0,+40.7098547,-073.7879749,"POLYGON ((-73.79203 40.71107, -73.79101 40.711..."
3,36,081,046300,36081046300,463,Census Tract 463,G5020,S,159415,0,+40.7440007,-073.8710900,"POLYGON ((-73.87468 40.74335, -73.87423 40.743..."
4,36,081,046400,36081046400,464,Census Tract 464,G5020,S,228767,0,+40.7168637,-073.7869958,"POLYGON ((-73.79187 40.71379, -73.79085 40.714..."

In [62]:
geo_median_income = geopandas.read_file('Clean Data/geo_median_income.geojson')
geo_median_income.head()
geo_median_income.crs
geo_median_income = geo_median_income.to_crs('EPSG:4326')

In [63]:
geo_median_income.head()
geo_median_income.to_file('Clean Data/geo_median_income.geojson',driver='GeoJSON')
# geo_median_income.plot()

In [ ]:
medium_income = pd.DataFrame(pd.read_csv('Clean Data/medium_income.csv', sep = ",", header = 0, index_col = 0))
# medium_income.head()
# medium_income.drop(columns=[''])
medium_income.head()

# medium_income.to_json("Clean Data/medium_income.json", orient = "records", date_format = "epoch", double_precision = 10, force_ascii = True, date_unit = "ms", default_handler = None)
# medium_income.to_json('Clean Data/medium_income.json')

In [47]:
tract = geopandas.read_file('Clean Data/tract.geojson')
# tract['GeoId'] = tract['GeoId'].apply(int)
# tract = tract.rename(columns={'GeoId':'GEO_ID'})
tract.head()

,ntacode,shape_area,ntaname,shape_leng,boro_name,puma,ct2010,boro_code,cdeligibil,boro_ct2010,ctlabel,GeoId,geometry
0,SI22,2497009.71359,West New Brighton-New Brighton-St. George,7729.01679383,Staten Island,3903,900,5,E,5000900,9,39035000900,"MULTIPOLYGON (((-74.07921 40.64343, -74.07914 ..."
1,MN19,1906016.35002,Turtle Bay-East Midtown,5534.19981063,Manhattan,3808,9800,1,I,1009800,98,38081009800,"MULTIPOLYGON (((-73.96433 40.75638, -73.96479 ..."
2,MN19,1860938.37721,Turtle Bay-East Midtown,5692.16873705,Manhattan,3808,10000,1,I,1010000,100,38081010000,"MULTIPOLYGON (((-73.96802 40.75958, -73.96848 ..."
3,MN17,1860992.70485,Midtown-Midtown South,5687.80243866,Manhattan,3807,10200,1,I,1010200,102,38071010200,"MULTIPOLYGON (((-73.97124 40.76094, -73.97170 ..."
4,MN17,1864600.37503,Midtown-Midtown South,5693.03636655,Manhattan,3807,10400,1,I,1010400,104,38071010400,"MULTIPOLYGON (((-73.97446 40.76229, -73.97491 ..."

In [24]:
tract.head()
# print(len(tract))   # 2164

,ntacode,shape_area,ntaname,shape_leng,boro_name,puma,ct2010,boro_code,cdeligibil,boro_ct2010,ctlabel,GEO_ID,geometry
0,SI22,2497009.71359,West New Brighton-New Brighton-St. George,7729.01679383,Staten Island,3903,900,5,E,5000900,9,39035000900,"MULTIPOLYGON (((-74.07921 40.64343, -74.07914 ..."
1,MN19,1906016.35002,Turtle Bay-East Midtown,5534.19981063,Manhattan,3808,9800,1,I,1009800,98,38081009800,"MULTIPOLYGON (((-73.96433 40.75638, -73.96479 ..."
2,MN19,1860938.37721,Turtle Bay-East Midtown,5692.16873705,Manhattan,3808,10000,1,I,1010000,100,38081010000,"MULTIPOLYGON (((-73.96802 40.75958, -73.96848 ..."
3,MN17,1860992.70485,Midtown-Midtown South,5687.80243866,Manhattan,3807,10200,1,I,1010200,102,38071010200,"MULTIPOLYGON (((-73.97124 40.76094, -73.97170 ..."
4,MN17,1864600.37503,Midtown-Midtown South,5693.03636655,Manhattan,3807,10400,1,I,1010400,104,38071010400,"MULTIPOLYGON (((-73.97446 40.76229, -73.97491 ..."

In [42]:
median_income = pd.read_csv('Clean Data/medium_income.csv', index_col=0)
median_income.head()

# nyu_tract.head()

,GEO_ID,NAME,county,state,tract,medium_income_2010,medium_income_2011,medium_income_2012,medium_income_2013,medium_income_2014,medium_income_2015,medium_income_2016,medium_income_2017,medium_income_2018
0,36005039000,"Census Tract 390, Bronx County, New York",5,36,39000,35729,34010,34750,35037,34531,32364,32438,35313,42011
1,36005039100,"Census Tract 391, Bronx County, New York",5,36,39100,22081,23804,24010,24193,24043,30661,31238,33020,32298
2,36005039200,"Census Tract 392, Bronx County, New York",5,36,39200,57000,30577,31917,32386,35515,39457,40054,40282,44375
3,36005039300,"Census Tract 393, Bronx County, New York",5,36,39300,17988,16825,15875,16949,19025,20891,21587,21651,21370
4,36005039400,"Census Tract 394, Bronx County, New York",5,36,39400,35329,34759,38365,39157,34348,33708,34517,31738,34355

In [53]:
df = census_tract.merge(medium_income, on='GEO_ID', how='left')
gdf = geopandas.GeoDataFrame(df)

gdf.head()

# geo_median_income = pd.merge(nyu_tract, median_income, how='inner', on='GEO_ID')
# geo_median_income.head()




# geo_median_income.to_file('median_income.geojson',driver='GeoJSON')

,STATEFP,COUNTYFP,TRACTCE,GEO_ID,NAME_x,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,...,tract,medium_income_2010,medium_income_2011,medium_income_2012,medium_income_2013,medium_income_2014,medium_income_2015,medium_income_2016,medium_income_2017,medium_income_2018
0,36,081,044800,36081044800,448,Census Tract 448,G5020,S,208002,0,...,44800.0,52424.0,44435.0,43474.0,43935.0,46607.0,51184.0,66768.0,57500.0,56518.0
1,36,081,045800,36081045800,458,Census Tract 458,G5020,S,245281,0,...,45800.0,66875.0,77857.0,83185.0,65139.0,58750.0,54000.0,69063.0,60556.0,58942.0
2,36,081,046200,36081046200,462,Census Tract 462,G5020,S,249611,0,...,46200.0,40202.0,40163.0,36964.0,37055.0,40637.0,47524.0,45192.0,49088.0,53295.0
3,36,081,046300,36081046300,463,Census Tract 463,G5020,S,159415,0,...,46300.0,50000.0,45020.0,43897.0,35134.0,41339.0,42720.0,43456.0,44110.0,51644.0
4,36,081,046400,36081046400,464,Census Tract 464,G5020,S,228767,0,...,46400.0,66281.0,71146.0,79018.0,78750.0,92303.0,95250.0,80221.0,76458.0,92625.0

In [45]:
nyu_tract.head()

,GEO_ID,tractnum,name,namelsad,nta,nta_name,bcode,geometry
0,36005000100,000100,1,Census Tract 1,BX98,Rikers Island,36005,"POLYGON ((-73.87102 40.78883, -73.87110 40.788..."
1,36005000200,000200,2,Census Tract 2,BX09,Soundview-Castle Hill-Clason Point-Harding Park,36005,"POLYGON ((-73.86522 40.81453, -73.86425 40.814..."
2,36005000400,000400,4,Census Tract 4,BX09,Soundview-Castle Hill-Clason Point-Harding Park,36005,"MULTIPOLYGON (((-73.85960 40.81528, -73.85870 ..."
3,36005001600,001600,16,Census Tract 16,BX09,Soundview-Castle Hill-Clason Point-Harding Park,36005,"POLYGON ((-73.86111 40.82163, -73.86019 40.821..."
4,36005001900,001900,19,Census Tract 19,BX39,Mott Haven-Port Morris,36005,"MULTIPOLYGON (((-73.93161 40.80798, -73.93094 ..."

In [46]:
medium_income.head()

,GEO_ID,NAME,county,state,tract,medium_income_2010,medium_income_2011,medium_income_2012,medium_income_2013,medium_income_2014,medium_income_2015,medium_income_2016,medium_income_2017,medium_income_2018
0,36005039000,"Census Tract 390, Bronx County, New York",5,36,39000,35729,34010,34750,35037,34531,32364,32438,35313,42011
1,36005039100,"Census Tract 391, Bronx County, New York",5,36,39100,22081,23804,24010,24193,24043,30661,31238,33020,32298
2,36005039200,"Census Tract 392, Bronx County, New York",5,36,39200,57000,30577,31917,32386,35515,39457,40054,40282,44375
3,36005039300,"Census Tract 393, Bronx County, New York",5,36,39300,17988,16825,15875,16949,19025,20891,21587,21651,21370
4,36005039400,"Census Tract 394, Bronx County, New York",5,36,39400,35329,34759,38365,39157,34348,33708,34517,31738,34355